# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* 1.List popular languages for Data Science.
* 2.List dta science tools.
* 3.Examples of evaluating arithmetic expression in Python.

Some of the popular languages that Data Scientists use are:
1.R
2.Python
3.SQL

Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Visual Studio Code|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [3]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Xiaojing Wu